
.summary {
	text-align:center;
	padding-top:10px;
	.graph {
		$pie-width: 200;
		margin:0 auto 20px;
	}
	.graph-caption {
		.numbers { 
			font-weight:bold;
			span {
				font-size:2em;
			}
		}
	}
}

.middleHidden {
	@include small-panel;
}
.middleShowing {
	display:none;
}
