@font-face {
  font-family: helvetica;
  src: local("Helvetica Neue Light"),
       local("HelveticaNeue-Light");
}

@font-face {
	@include font-url("Roboto-Light");

	font-family: 'roboto';
	font-style: normal;
	font-weight: normal;
}

@font-face {
	@include font-url("Roboto-Regular");

	font-family: 'roboto';
	font-style: normal;
	font-weight: bold;
}
@font-face {
	@include font-url("Roboto-LightItalic");

	font-family: 'roboto';
	font-style: italic;
	font-weight: normal;
}
